<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anchor Tags</title>
    <link rel="stylesheet" href="{% static 'tailwind.css' %}">
</head>
<body class=" bg-gray-100">
    <table class="border-separate border border-green-800 text-lg bg-secondary-100" >
        <thead>
          <th class="border border-blue-400">Emp. No</th>
          <th class="border border-blue-400">Name</th>
          <th class="border border-blue-400">Date Of Birth</th>
          <th class="border border-blue-400">Salary</th>
          <th class="border border-blue-400">Date Of Joining</th>
        </thead>

        <tbody>
          <tr>
            <td class="border border-blue-400">1</td>
            <td class="border border-blue-400">Pradeep Singh</td>
            <td class="border border-blue-400">20/05/78</td>
            <td class="border border-blue-400">30,000</td>
            <td class="border border-blue-400">1/3/2011</td>
          </tr>

          <tr>
            <td class="border border-blue-400">2</td>
            <td class="border border-blue-400">Geeta Mathur</td>
            <td class="border border-blue-400">5/08/68</td>
            <td class="border border-blue-400">28,000</td>
            <td class="border border-blue-400">1/04/2009</td>
          </tr>

          <tr>
            <td class="border border-blue-400">3</td>
            <td class="border border-blue-400">Dharam Rawat</td>
            <td class="border border-blue-400">10/10/88</td>
            <td class="border border-blue-400">40,000</td>
            <td class="border border-blue-400">1/04/2013</td>
          </tr>

          <tr>
            <td class="border border-blue-400">4</td>
            <td class="border border-blue-400">Bhuwan Akoila</td>
            <td class="border border-blue-400">31/12/90</td>
            <td class="border border-blue-400">35,000</td>
            <td class="border border-blue-400">28/08/2010</td>
          </tr>

        </tbody>
      </table>
</body>

<style type="text/css">
  td {
    padding: 0 15px;
  }
</style>


</html>